/* основной цвет фона #FFFFFF; */
/* вторичный цвет фона #2F303A */
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */
/* белый #FFFFFF */
/* акцент #2196F3; */
/* цвет фона команды #F5F4FA; */
/* цвет ссылок футера rgba(255, 255, 255, 0.6); */

:root {
	--primary-bg-color: #ffffff;
	--secondary-bg-color: #2f303a;
	--color-main-text: #212121;
	--color-secondary-text: #757575;
	--white: #ffffff;
	--accent: #2196f3;
	--color-bg-team: #f5f4fa;
	--color-footers-link: rgba(255, 255, 255, 0.6);
}
/* Общее форматирование */
body {
	background-color: var(--primary-bg-color);
	color: var(--color-main-text);
	font-family: Roboto, sans-serif;
	font-style: 400;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
}
/* Логотип */
.logo {
	color: var(--color-main-text);
	font-family: Raleway;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.logo .logo-accent {
	color: var(--accent);
}

/* Навигация */
.site-nav .link {
	color: var(--color-main-text);
	font-weight: 400;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent);
}

.site-nav .link.current {
	color: var(--accent);
}
/* Герой */
.hero {
	background: var(--secondary-bg-color);
	color: var(--white);
}

.hero h1 {
	font-style: 400;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.btn {
	background-color: var(--accent);
	color: var(--white);
	font-style: 400;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
}

/* Стили секций */
section p {
	color: var(--color-secondary-text);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

section h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--color-main-text);
}

/* Стиль преимуществ */
.advantages h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

/* Секция "наща команда */
.team {
	background-color: var(--color-bg-team);
}
.team h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}
.team p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

/* Футер */
.ftr {
	background-color: var(--secondary-bg-color);
	color: var(--primary-bg-color);
}

.ftr {
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}
.ftr p {
	font-size: 14px;
	line-height: 1.71;
	font-style: normal;
	color: var(--white-text-color);
}

.ftr .ftr-contacts {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-secondary-text);
}
.ftr .ftr-contacts:hover,
.ftr .ftr-contacts:focus {
	color: var(--primary-bg-color);
}

/* Portfolio.html */

/* Кнопки фильтрации */
.btn-list {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
}

.btn-list .item {
	background-color: var(--color-bg-team);
}

.btn-list .button:hover,
.btn-list .button:focus {
	background-color: var(--accent);
	color: var(--primary-bg-color);
}

/* Секция проектов */
.portfolio h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio p {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}
